body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}
/* Container
========================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;  
    padding: 0 15px; 
}

/* Header 
========================*/

header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
 
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 10px;
    align-items: center;
    border-bottom: 1px solid #fff;
}

/* Navigation 
========================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0px;
}

.nav_link:hover {
    opacity: 1;
    text-decoration: underline;
}

/* Offer 
========================*/

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    text-align: center;
    background: url(images/banner.jpg) no-repeat center / cover;
}

.offer__maintitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.offer__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 25px;

}

/* Button 
========================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;

}

.btn--red {
    background: #e84545;
}

.btn--red:hover {
    background: #df2222;
    opacity: 1;
    transition: opacity .2s linear;
}

/* Content
========================*/

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.content__item {
    text-align: center;
    width: 33.33333%;
    padding: 20px;
    margin: 25px 0;
}

.content__img {
    margin-bottom: 20px;
}

.content__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.content_info {
    font-size: 14px;
    line-height: 1.5;
}

/* Features
========================*/
.features {
    display: flex;
    flex-wrap: wrap;
}

.features_items {
    width: 25%;
    height: 350px;;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

}

.features_items:hover .main_features_item {
    opacity: 1;
}

.features_photo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0)
}

.main_features_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(232, 69, 69, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}
    
.features__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.features__text {
    font-size: 14px;
    color: #fff;
}

/* Team */

.team {
    margin: 100px 0 70px;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.team_item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team_name {
    font-size: 22px;
    color:#2d3033;
    margin-bottom: 8px;
}

.team_prof {
    font-size: 13px;
    color: #e84545;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.team_text {
    margin-bottom: 20px;
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/* Social
========================*/

.social {
    display: flex;

}

.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;

    
    border: 1px solid #e8ecee;
    transition: background .1s linear;
}

.social_item:hover {
background-color: #e8ecee;
}

.social_item:hover .social__icon {
    fill: #e84545;
    transition: .1s linear;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
}

/* Reviews
========================*/
.reviews {
    overflow: hidden;
    background-color: #53354a;  
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;

}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;  
  transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.review__text {
    margin-bottom: 20px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2emd;
    color: #fff; 
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}






